@using PowerBiAuditApp.Models
@model PowerBiAuditApp.Client.Models.AdminViewModel

<div class="d-flex justify-content-between">
    <h1>Admin Page</h1>

    <a class="btn btn-primary align-self-center" href="@Url.Action("RefreshReports", "Admin")">Refresh Reports</a>
</div>

    
<form id="reportDisplayForm">
    <div class="container mb-5">
        @if(Convert.ToBoolean(TempData["refreshed"]))
        {
            <div class="alert alert-success alert-dismissible fade show d-flex align-items-center" role="alert">
                <i class="bi-check-circle-fill flex-shrink-0 me-2" style="width: 24px; height: 24px; text-align: center"></i>
                <div>
                    Report refresh has been queued. Please allow 5 minutes for data to be refreshed.
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        
        <div id="report-saved-alert" class="alert alert-success alert-dismissible fade show d-flex align-items-center d-none" role="alert">
            <i class="bi-check-circle-fill flex-shrink-0 me-2" style="width: 24px; height: 24px; text-align: center"></i>
            <div>
                Reports have been saved.
            </div>
            <button type="button" class="btn-close" aria-label="Close"></button>
        </div>
    
        @foreach (var (groupName, reports) in Model.Reports)
        {
            <h2>@groupName</h2>
            @foreach (var report in reports)
            {
                <div class="card my-3">
                    <h5 class="card-header">@report.Name</h5>
                    <div class="card-body">
                        <div class="row gx-5">
                            <div class="col">
                                <label class="col-form-label fw-bold">Enable</label>
                                <div class="form-check form-switch">
                                    @if(report.Enabled)
                                    {
                                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" name="@report.Name" value="show" checked>
                                    } else
                                    {
                                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" name="@report.Name" value="show">
                                    }
                                </div>
                            </div>
                            <div class="col">
                                <label class="col-form-label fw-bold">Row Limit</label>
                                <div class="form-check form-switch ">
                                    @if(report.ReportRowLimit != null)
                                    {
                                        <input class="form-check-input linked-input" type="checkbox" name="@($"{report.Name} Enable Row Limit")" id="flexSwitchCheckChecked" value="show" checked>
                                        <input class="form-control" type="number" name="@($"{report.Name} Row Limit")" placeholder="Number of rows" value="@report.ReportRowLimit">
                                    } else
                                    {
                                        <input class="form-check-input linked-input" type="checkbox" name="@($"{report.Name} Enable Row Limit")" id="flexSwitchCheckDefault" value="show">
                                        <input class="form-control" type="number" name="@($"{report.Name} Row Limit")" placeholder="Number of rows" value="@report.ReportRowLimit" style="display: none">
                                    }
                                </div>
                            </div>
                            <div class="col @(report.EffectiveIdentityRequired ? "" : "invisible")">
                                <label class="col-form-label fw-bold">Override Effective User</label>
                                <div class="form-check form-switch">
                                    @if (!string.IsNullOrWhiteSpace(report.EffectiveIdentityOverRide))
                                    {
                                        <input class="form-check-input linked-input" type="checkbox" id="flexSwitchCheckChecked" name="@($"{report.Name} Effective Id Required")" value="yes" checked>
                                        <input class="form-control" type="text" name="@($"{report.Name} Effective Id Override")" placeholder="User" value="@report.EffectiveIdentityOverRide">
                                    }
                                    else
                                    {
                                        <input class="form-check-input linked-input" type="checkbox" id="flexSwitchCheckDefault" name="@($"{report.Name} Effective Id Required")" value="yes">
                                        <input class="form-control" type="text" name="@($"{report.Name} Effective Id Override")" placeholder="User" value="@report.EffectiveIdentityOverRide" style="display: none">
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>  
    
    <div class="container fixed-bottom floating-button-container">
        <div class="row d-flex flex-row-reverse px-3">
            <div class="bg-light w-25  px-0 mx-1"><button type="submit" class="btn btn-primary w-100" disabled>Save</button></div>
        </div>
    </div>
</form>
 
@section Scripts
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/admin.js"></script>
}
