@using PowerBiAuditApp.Models
@model PowerBiAuditApp.Client.Models.AdminViewModel

<div class="d-flex justify-content-between">
    <h1>Admin Page</h1>

    <a class="btn btn-primary align-self-center" href="@Url.Action("RefreshReports", "Admin")">Refresh Reports</a>
</div>

<div class="container">
    @if(Convert.ToBoolean(TempData["refreshed"]))
    {
        <div class="alert alert-success alert-dismissible fade show d-flex align-items-center" role="alert">
            <i class="bi-check-circle-fill flex-shrink-0 me-2" style="width: 24px; height: 24px; text-align: center"></i>
            <div>
                Reports have been refreshed
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

    <h2>All Reports</h2>
    
    <form id="reportDisplayForm">
        @foreach (var group in Model?.Reports.GroupBy(report => report.GroupName))
        {
            <h4>@group.Key</h4>
            @foreach (var report in group)
            {
                <div class="card my-3">
                    <h5 class="card-header">@report.Name</h5>
                    <div class="card-body">
                        <div class="row gx-5">
                            <div class="col">
                                <label class="col-form-label fw-bold">Enable</label>
                                <div class="form-check form-switch">
                                    @if(report.Enabled)
                                    {
                                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" name="@report.Name" value="show" checked>
                                    } else
                                    {
                                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" name="@report.Name" value="show">
                                    }
                                </div>
                            </div>
                            <div class="col">
                                <label class="col-form-label fw-bold">Row Limit</label>
                                <div class="form-check form-switch ">
                                    @if(report.ReportRowLimit != null)
                                    {
                                        <input class="form-check-input linked-input" type="checkbox" name="@($"{report.Name} Enable Row Limit")" id="flexSwitchCheckChecked" value="show" checked>
                                        <input class="form-control" type="number" name="@($"{report.Name} Row Limit")" placeholder="Number of rows" value="@report.ReportRowLimit">
                                    } else
                                    {
                                        <input class="form-check-input linked-input" type="checkbox" name="@($"{report.Name} Enable Row Limit")" id="flexSwitchCheckDefault" value="show">
                                        <input class="form-control" type="number" name="@($"{report.Name} Row Limit")" placeholder="Number of rows" value="@report.ReportRowLimit" style="display: none">
                                    }
                                </div>
                            </div>
                            <div class="col">
                                <label class="col-form-label fw-bold">Override Effective User</label>
                                <div class="form-check form-switch">
                                    @if(report.EffectiveIdentityRequired)
                                    {
                                        <input class="form-check-input linked-input" type="checkbox" id="flexSwitchCheckChecked" name="@($"{report.Name} Effective Id Required")" value="yes" checked>
                                        <input class="form-control" type="text" name="@($"{report.Name} Effective Id Override")" placeholder="User" value="@report.EffectiveIdentityOverRide">
                                    } else
                                    {
                                        <input class="form-check-input linked-input" type="checkbox" id="flexSwitchCheckDefault" name="@($"{report.Name} Effective Id Requireed")" value="yes">
                                        <input class="form-control" type="text" name="@($"{report.Name} Effective Id Override")" placeholder="User" value="@report.EffectiveIdentityOverRide" style="display: none">
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }

        <button type="submit" class="btn btn-primary" disabled>Save</button>
    </form>
</div>
 
@section Scripts
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/admin.js"></script>
}
