<!-- Copyright (c) Microsoft Corporation.
Licensed under the MIT license. -->
@model PowerBiAuditApp.Client.Models.ReportViewModel


@if (Model is not null)
{
	<section id="report-container">
	</section>

	<footer class="col-lg-12 col-md-12 col-sm-12 mb-0 mt-4">
		@if (Model.Pages.Length > 1)
		{
			<p class="text-center">
				@if (Model.PageNumber > 0)
				{
					<a class="btn btn-secondary" href="~/report?WorkspaceId=@Model.WorkspaceId&reportId=@Model.ReportId&pageNumber=@(Model.PageNumber - 1)" role="button"> @Model.Pages[Model.PageNumber -1].DisplayName «</a>
				}
				You are viewing page: @Model.Pages[Model.PageNumber].DisplayName
			@if (Model.PageNumber + 1 < Model.Pages.Length)
			{
				<a class="btn btn-secondary" href="~/report?WorkspaceId=@Model.WorkspaceId&reportId=@Model.ReportId&pageNumber=@(Model.PageNumber + 1)" role="button">@Model.Pages[Model.PageNumber +1].DisplayName »</a>
			}
			</p>
		}
		<p class="text-center">
			UserName: @Model.User is viewing data.
		</p>
	</footer>
	@section Scripts
	{
		<script src="~/lib/jquery/dist/jquery.min.js"></script>
		<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="~/lib/powerbi-client/dist/powerbi.min.js"></script>
		<script src="~/js/report.js"></script>
		<script>
			$(function() {
				LoadReport("@Model.EmbedToken", decodeURI("@Model.EmbedUrl"), "@Model.Pages[Model.PageNumber].Name");
			});
		</script>
	}
}